<header class="bg-dark text-light py-3 mb-4">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center">

      <a href="/" class="text-decoration-none text-light">
        <h1 class="h3 mb-0">Biblioteca de Filmes</h1>
      </a>


      <nav class="d-flex gap-3">
        <a href="#" class="text-decoration-none text-light">Filmes</a>
        <a href="#" class="text-decoration-none text-light">Categorias</a>
        <a href="#" class="text-decoration-none text-light">Sobre</a>
      </nav>
    </div>
  </div>
</header>
