<h1><%=t("activerecord.attributes.editH1") %></h1>

<%= render "form", movie: @movie %>

<br>

<div>
  <%= link_to t("activerecord.attributes.show"), @movie %> |
  <%= link_to t("activerecord.attributes.back"), movies_path %>
</div>
